<!doctype html>
<html lang="pt-br">

<head>
    <title>Health Track</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../plugins/sweetalert/dist/sweetalert2.min.css">
</head>

<body>

    <div class="flex-dashboard">
        <sidebar id="sidebar">
            <dv class="sidebar-title">
                <img src="../images/heartbeat.png" alt="">
                <h2>Health Track</h2>
            </dv>
            <div class="menu">
                <ul>
                    <li>
                        <i class="fas fa-house-user"></i>
                        <a href="dashboard.htm">Dashboard</a>
                    </li>
                    <li>
                        <i class="fas fa-user"></i>
                        <a href="perfil.htm">Perfil</a>
                    </li>
                    <li class="selected">
                        <i class="fas fa-balance-scale-right"></i>
                        <a href="gerenciarPeso.htm">Gerenciar Peso e Altura</a>
                    </li>
                    <li>
                        <i class="fas fa-heartbeat"></i>
                        <a href="gerenciarPressao.htm">Gerenciar Pressão Arterial</a>
                    </li>
                    <li>
                        <i class="fas fa-dumbbell"></i>
                        <a href="gerenciarAtividades.htm">Gerenciar Atividades Físicas</a>
                    </li>
                    <li>
                        <i class="fas fa-utensils"></i>
                        <a href="gerenciarAlimentos.htm">Gerenciar Alimentos</a>
                    </li>
                    <li>
                        <i class="fas fa-calculator"></i>
                        <a href="calcularIMC.htm">Calcular IMC</a>
                    </li>
                </ul>
            </div>
        </sidebar>
        <main id="mainContent">
            <header>
                <i id="iconMenu" onclick="responsiveSidebar()" class="fas fa-bars"></i>
                <a href="../index.htm"><i class="fas fa-sign-out-alt"></i>Logout</a>
            </header>
            <div class="main-content">
                <div class="main-content-title">
                    <h2>Gerenciar Peso e Altura</h2>
                </div>
                <div class="panel-row">
                    <button class="panel panel-50" a-view='cadastrarPeso' a-script='Peso' onclick='fetchContent(this)' a-folder='peso'>
                        <i class="fas fa-plus"></i>
                        Cadastrar Peso
                    </button>
                    <button class="panel panel-50" a-view='visualizarPeso' a-script='Peso' onclick='fetchContent(this)' a-folder='peso'>
                        <i class="fas fa-table"></i>
                        Visualizar Peso
                    </button>
                </div>
                <div class="content" id="ajax-content">
                </div>
            </div>
        </main>
    </div>
    <script src="../plugins/jquery/jquery.min.js"></script>
    <script src="../plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="../plugins/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="../plugins/jquery-validation/dist/localization/messages_pt_BR.min.js"></script>
    <script src="../plugins/jQuery-Mask-Plugin-master/dist/jquery.mask.min.js"></script>
    <script src="../plugins/sweetalert/dist/sweetalert2.all.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js "></script>
    <script src="../plugins/fontawesome/js/all.min.js "></script>
    <script src="../js/ajax.js"></script>
    <script src="../js/menu.js"></script>
    <script src="../js/Peso.js"></script>

</body>

</html>